body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right top, #f8f4f6, #f6f3f6, #f3f2f5, #f0f1f4, #edf0f3, #ebf0f3, #eaf1f1, #eaf1ef, #edf2ed, #f2f2eb, #f9f1eb, #fef1ee);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.header-wrapper h2 {
    margin: 0;
}

.editor {
    background: #fff;
    padding: 0 0 30px 0;
}

.tab-list-wrapper {
    position: relative;
    padding-left: 45px;
    padding-right: 80px;

}
.tab-list {
    display: flex;
    align-items: center;
    justify-content: start;
/*    overflow-x: auto;*/
}

.tab-list-wrapper .tab {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    flex-shrink:0;
    position: relative;
    border-right: 1px solid #f5f5f5;
}

.tab-list-wrapper .tab:hover {
    background: #f5f5f5;
}

.tab .tab-name {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab .tab-icon {
    border-radius: 100%;
    background: #f5f5f5;
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab .tab-icon:hover {
    background-color: #1976D2;
    color: #fff;
}
.tab .tab-icon em.material-icons {
    font-size: 14px;
}

.tab::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.5s ease;
    background: #1976D2;
}

.tab.active {
    font-weight: 500;
}
.tab.active::before {
    width: 100%;
}

.tab.static {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: auto;
    border-left: 1px solid #ddd;
    top: 0;
}

.tab-navigation {
    position: absolute;
    top: 0;
    padding: 10px 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: -2px 0px 3px 4px rgba(0,0,0,0.09);
    cursor: pointer;
}
.tab-navigation.right {
    right: 45px;
}
.tab-navigation.left {
    left: 0;
}