body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right top, #f8f4f6, #f6f3f6, #f3f2f5, #f0f1f4, #edf0f3, #ebf0f3, #eaf1f1, #eaf1ef, #edf2ed, #f2f2eb, #f9f1eb, #fef1ee);
    height: 100%;
    width: 100%;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.header-wrapper h2 {
    margin: 0;
}

.editor {
    background: #fff;
    padding: 0 0 30px 0;
}

.tab-list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.tab-list .tab {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #1976D2;
}